label {
	white-space: nowrap;
}

input, select {
	margin: 0px 20px 0px 0px;
	max-width: 100px;
	max-height: 20px;
}

.id, .mqtt, .net, .modbus {
	display:inline-block;
	width:220px;
	text-align:right;
}

.reg_list, .sensor {
	display: flex;
}